<div class="container">
<hr>
<h1>Pipes</h1>
<hr>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{ nombre }} </td>
        <td> uppercase </td>
        <td> {{ nombre | uppercase }} </td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> lowercase </td>
        <td> {{ nombre | lowercase }} </td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> slice:3 </td>
        <td> {{ nombre | slice:3 }} </td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> slice:0:3 </td>
        <td> {{ nombre | slice:0:3 }} </td>
      </tr>
      <tr>
        <td> {{ arreglo }} </td>
        <td> slice:1:5 </td>
        <td> {{ arreglo | slice:1:5 }} </td>
      </tr>
      <tr>
        <td> {{ PI }} </td>
        <td> number:'3.0-0' </td>
        <td> {{ PI | number:'3.0-0' }} </td>
      </tr>
      <tr>
        <td> {{ PI }} </td>
        <td> number:'1.0-2' </td>
        <td> {{ PI | number:'1.0-2' }} </td>
      </tr>
      <tr>
        <td> {{ a }} </td>
        <td> percent </td>
        <td> {{ a | percent}} </td>
      </tr>
      <tr>
        <td> {{ a }} </td>
        <td> percent:'2.2-2' </td>
        <td> {{ a | percent:'2.2-2'}} </td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> currency </td>
        <td> {{ salario | currency}} </td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> currency:'JPY' </td>
        <td> {{ salario | currency:'JPY'}} </td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> currency:'JPY':'true' </td>
        <td> {{ salario | currency:'JPY':'true'}} </td>
      </tr>
      <tr>
      <td> {{ salario }} </td>
      <td> currency:'COP':'symbol-narrow':'4.2-2'</td>
        <td> {{ salario | currency:'COP':'symbol-narrow':'4.2-2'}} </td>
      </tr>
      <tr>
      <td> {{ vlorPromesa }} </td>
      <td> async </td>
        <td> {{ vlorPromesa | async  }} </td>
      </tr>
      <tr>
      <td> {{ date }} </td>
      <td> date </td>
        <td> {{ date | date  }} </td>
      </tr>    
      <tr>
      <td> {{ date }} </td>
      <td> date:'medium' </td>
        <td> {{ date | date:'medium'  }} </td>
      </tr>
      <tr>
      <td> {{ date }} </td>
      <td> date:'short' </td>
        <td> {{ date | date:'short'  }} </td>
      </tr>
      <tr>
      <td> {{ date }} </td>
      <td> date:'MMMM - dd'   </td>
        <td> {{ date | date:'MMMM - dd'  }} </td>
      </tr>
      <tr>
      <td> {{ nombreCustom }} </td>
      <td> nombreCustom | capitalizado:"true" </td>
        <td> {{ nombreCustom | capitalizado:"true" }} </td>
      </tr>
      <tr>
      <td> {{ nombreCustom }} </td>
      <td> nombreCustom | capitalizado:"false" </td>
        <td> {{ nombreCustom | capitalizado:"false" }} </td>
      </tr>
      <tr>
      <td> {{ nombrecontrasena }} </td>
      contrasena:{{activar}} <br>
      <button (click)="activar = !activar" class="btn btn-primary">Activar/Desactivar</button>
      <td> {{ nombrecontrasena | contrasena:activar}} </td>

      </tr>
      
      
    </tbody>
  </table>


  <h4>Slide</h4>
  <ul>
    <li *ngFor="let item of arreglo | slice:1:5 "> {{ item }} </li>
  </ul>

  <h4>JSON</h4>
  <pre>
      {{ heroe | json}}
  </pre>

  <h4>Youtube <small>Video</small></h4>
  <small>DomSeguro</small><br>
  <iframe width="560" height="315" [src]= " video | domseguro:'https://www.youtube.com/embed/' " frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

